<h1 style="text-align: center;">今天食堂香吗？</h1>
<div style="text-align: center;">富强、民主、文明、和谐，自由、平等、公正、法治，爱国、敬业、诚信、友善。</div>

<div style="width: 40%;margin-left: 30%;">
    <h2>看法</h2>
    <form action="add" method="post">
      <div class="form-group">
        <label>昵称</label>
        <input type="text" class="form-control" id="nickName" name="nickName" placeholder="海绵宝宝">
      </div>
      <div class="form-group">
              <label>我觉得</label>
              <input type="text" class="form-control" id="feeling" name="feeling" placeholder="好不好吃呢？">
            </div>
      <div class="form-group">
            <label>给个分</label>
            <input type="text" class="form-control" id="score" name="score" placeholder="0-10之间哦">
      </div>
      <!--
      <div class="form-group">
        <label >传个图</label>
        <input type="file" id="image" name="image">
        <p class="help-block">饭饭实拍</p>
      </div>
      -->
      <button type="submit" class="btn btn-default">晒一刚</button>
    </form>
</div>

<div style="width: 40%;margin-left: 30%;">
    <h2>树洞</h2>
        {{range $index, $element := .}}
            <p>{{$element}}</p>
        {{end}}
</div>